<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say Hello!</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/script.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" type="text/css">

    {% endblock %}
</head>
<body>

    <div class="container-fluid p-5 my-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="navbar-header">
                <h4 class="navbar-brand" style="margin:10px">期货查询</h4>
              </div>
              <ul class="nav navbar-nav">
                <li style="margin:10px"><a href="/">持仓详情</a></li>
                <li style="margin:10px"><a href="/net">净持仓数据</a></li>
              </ul>
          </nav>

        {% block content %}{% endblock %}
        <footer>
            <small>&copy; 2023 Shensong Zhao</a></small>
        </footer>
    </div>
    
</body>
</html>
