<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say Hello!</title>
    <script type="text/javascript" src="{{ url_for('static', path='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/script.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" type="text/css">

    {% endblock %}
</head>
<body>
    <div class="container-fluid p-5 my-3">

        <h2>
            <a class="text-success">持仓详情 </a> 
        </h2>

        {% block content %}{% endblock %}
        <footer>
            <small>&copy; 2023 Shensong Zhao</a></small>
        </footer>
    </div>
    
</body>
</html>
