{% extends 'base.html' %}

{% block content %}
<h2>
    <a class="text-success">持仓详情 </a> 
</h2>

<form method="post">
    <div class="input-group mb-3">

        <select name="selectedType" onchange="submit();">
            {% for type in instrument_types %}
                <option value="{{ type }}"  {% if type == selected_type %}selected="selected"{% endif %}>{{ type }}</option>
            {% endfor %}
        </select>

        <select name="selectedID" id="selectedID">
            {% for id in instrument_IDs %}
                <option value="{{ id }}"  {% if id == selected_ID %}selected="selected"{% endif %}>{{ id }}</option>
            {% endfor %}
        </select>
        
        <input type="date" name="selectedDate" value="{{ selected_date }}">
        
        <input type="submit" class="btn">
    </div>
</form>


<div class="row">
    <div class="col">
        <h4 class="text-center">{{selected_ID}} 多头龙虎榜</h4>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">席位</th>
                <th scope="col">持仓</th>
                <th scope="col">增减</th>
                <th scope="col">净持仓</th>
            </tr>
            </thead>

            <tbody>
                {% for entry in entries %}
                    {% if entry.volumetype.value == "long" %}
                        <tr>
                            <td> {{entry.rank}} </td>
                            <td> {{entry.companyname}} </td>
                            <td> {{entry.volume}} </td>
                            <td> {{entry.change}} </td>
                            {% if long_net_pos_dict[entry.companyname] >= 0 %}
                                <td> 多{{long_net_pos_dict[entry.companyname]}} </td>
                            {% else %}
                                <td> 空{{long_net_pos_dict[entry.companyname] | abs}} </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{volume_sums['long']}}</td>
                    <td>{{change_sums['long']}}</td>
                    {% if long_sum >= 0 %}
                        <td> 多{{long_sum}} </td>
                    {% else %}
                        <td> 空{{long_sum | abs}} </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <h4 class="text-center">{{selected_ID}} 空头龙虎榜</h4>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">席位</th>
                <th scope="col">持仓</th>
                <th scope="col">增减</th>
                <th scope="col">净持仓</th>
            </tr>
            </thead>

            <tbody>
                {% for entry in entries %}
                    {% if entry.volumetype.value == "short" %}
                        <tr>
                            <td> {{entry.rank}} </td>
                            <td> {{entry.companyname}} </td>
                            <td> {{entry.volume}} </td>
                            <td> {{entry.change}} </td>
                            {% if short_net_pos_dict[entry.companyname] >= 0 %}
                                <td> 多{{short_net_pos_dict[entry.companyname]}} </td>
                            {% else %}
                                <td> 空{{short_net_pos_dict[entry.companyname] | abs}} </td>
                            {% endif %} 
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{volume_sums['short']}}</td>
                    <td>{{change_sums['short']}}</td>
                    {% if short_sum >= 0 %}
                        <td> 多{{short_sum}} </td>
                    {% else %}
                        <td> 空{{short_sum | abs}} </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class = "row align-items-center justify-content-center">
    <div id="visbarlong"></div>
    <div id="visbarshort"></div>
</div>


<script type="text/javascript">
    var yourVlSpec = {{ barchartlong_html|safe }};
    vegaEmbed('#visbarlong', yourVlSpec);
</script>

<script type="text/javascript">
    var yourVlSpec = {{ barchartshort_html|safe }};
    vegaEmbed('#visbarshort', yourVlSpec);
</script>
{% endblock %}
