{% extends 'base.html' %}

{% block content %}
<h2>
    <a class="text-success">持仓详情 </a> 
</h2>

<form method="post">
    <div class="input-group mb-3">

        <select name="selectedType" onchange="submit();">
            {% for type, typec in contract_types %}
                <option value="{{ type }}"  {% if type == selected_type %}selected="selected"{% endif %}>{{ type }}/{{ typec }}</option>
            {% endfor %}
        </select>

        <select name="selectedID" id="selectedID">
            {% for id in contract_IDs %}
                <option value="{{ id }}"  {% if id == selected_ID %}selected="selected"{% endif %}>{{ id }}</option>
            {% endfor %}
        </select>
        
        <input type="date" name="selectedDate" value="{{ selected_date }}">
        
        <input type="submit" class="btn">
    </div>
</form>


<div class="row">
    <div class="col">
        <h4 class="text-center">{{selected_ID}} 多头龙虎榜</h4>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">席位</th>
                <th scope="col">持仓</th>
                <th scope="col">增减</th>
                <th scope="col">净持仓</th>
            </tr>
            </thead>

            <tbody>
                {% for entry, net in entries %}
                    {% if entry.volType == 'b' %}
                        <tr>
                            <td> {{entry.rank}} </td>
                            <td> {{entry.company}} </td>
                            <td> {{entry.vol}} </td>
                            <td> {{entry.chg}} </td>
                            {% if net >= 0 %}
                                <td> 多{{ net }} </td>
                            {% else %}
                                <td> 空{{ net | abs }} </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{ sums['b'][0] }}</td>
                    <td>{{ sums['b'][1] }}</td>
                    {% if sums['b'][2] >= 0 %}
                        <td> 多{{ sums['b'][2] }} </td>
                    {% else %}
                        <td> 空{{ sums['b'][2] | abs }} </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <h4 class="text-center">{{selected_ID}} 空头龙虎榜</h4>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">席位</th>
                <th scope="col">持仓</th>
                <th scope="col">增减</th>
                <th scope="col">净持仓</th>
            </tr>
            </thead>

            <tbody>
                {% for entry, net in entries %}
                    {% if entry.volType == 's' %}
                        <tr>
                            <td> {{entry.rank}} </td>
                            <td> {{entry.company}} </td>
                            <td> {{entry.vol}} </td>
                            <td> {{entry.chg}} </td>
                            {% if net >= 0 %}
                                <td> 多{{ net }} </td>
                            {% else %}
                                <td> 空{{ net | abs }} </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{ sums['s'][0] }}</td>
                    <td>{{ sums['s'][1] }}</td>
                    {% if sums['s'][2] >= 0 %}
                        <td> 多{{ sums['s'][2] }} </td>
                    {% else %}
                        <td> 空{{ sums['s'][2] | abs }} </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class = "row align-items-center justify-content-center">
    <div id="visbarlong"></div>
    <div id="visbarshort"></div>
</div>


<script type="text/javascript">
    var yourVlSpec = {{ bar_chart_long|safe }};
    vegaEmbed('#visbarlong', yourVlSpec);
</script>

<script type="text/javascript">
    var yourVlSpec = {{ bar_chart_short|safe }};
    vegaEmbed('#visbarshort', yourVlSpec);
</script>
{% endblock %}
